body {
    background:#20D5FE;
}

.main-grid {
    /* display: grid;
    grid-template-columns: minmax(50%, 1fr) auto;
    grid-gap: 1rem; */
}   

#canvas {
    display: block;
    max-width: 100%;
    border: 1px solid black;
    background-color: black;
}